<div ng-controller="CityListController">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Choose a city to view details</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#/city/{{city.id}}" class="list-group-item" ng-repeat="city in cities">
                        {{city.name}}
                        <span class="badge" ng-show="userLoggedIn" ng-click="editCity($event, city.id)">Edit</span>
                        <span class="badge badge-danger" ng-show="superUser" ng-click="deleteCity($event, city.id)">Delete</span>
                    </a>
                </div>
                <div class="list-group" ng-hide="cities.length">
                    No cities available in this category.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 well" ng-show="userLoggedIn">
        <h3>{{formMode}} City</h3>
        <form ng-submit="addOrUpdateCity()" name="city">
            <div class="form-group">
                <label for="cityName">City Name</label>
                <input ng-model="city.name" type="text" class="form-control" id="cityName" placeholder="City" required/>
                <input ng-model="city.id" type="hidden" id="cityId"/>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" ng-model="city.category" required>
                    <option value="">-Select-</option>
                    <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" ng-show="EditMode" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>
