<div ng-controller="CityDetailsController" ng-show="currentPage === pageName.CITY_INFO">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">{{cityName}}</div>
            <div class="panel-body">
                <img ng-src="{{cityDetails.image}}" class="img-responsive img-rounded col-md-6"/>
                {{cityDetails.description}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <table class="table table-hover table-bordered">
            <tr ng-repeat="items in cityDetails.info">
                <th>{{items.title}}</th>
                <td>{{items.value}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2>Places to visit</h2>
        <div class="panel panel-default" ng-repeat="place in cityDetails.places">
            <div class="panel-heading">
                <h3 class="panel-title">{{place.name}}</h3>
            </div>
            <div class="panel-body">
                <img ng-src="{{place.image}}" class="img-responsive img-rounded col-md-3"/>
                {{place.description}}
            </div>
        </div>
    </div>
</div>
