<div ng-controller="HomeController">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Choose a category to view the cities</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#/cities/{{cat.id}}" class="list-group-item" ng-repeat="cat in categories">
                        {{cat.name}} <span class="badge" title="{{cat.cityCount}} cities in {{cat.name}}">{{cat.cityCount}}</span>
                        <span class="badge" ng-show="userLoggedIn" ng-click="editCategory($event, cat.id)">Edit</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 well" ng-show="userLoggedIn">
        <h3>{{formMode}} Category</h3>
        <form ng-submit="addOrUpdateCategory()" name="category">
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input ng-model="category.name" type="text" class="form-control" id="categoryName" placeholder="Category" required>
                <input ng-model="category.id" type="hidden" class="form-control" id="categoryId">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" ng-show="EditMode" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>
